/build/
/.gradle/
/out/

/.idea/
/*.iml

/.classpath
/.project
/.settings/

/.vscode/

*.log

.DS_Store
Thumbs.db

/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
/frontend/.angular/webpack/

*.env
.env.*
*.bak
*.tmp
